/*
* @Author: karlosiric
* @Date:   2025-01-24 13:27:37
* @Last Modified by:   karlosiric
* @Last Modified time: 2025-01-24 17:59:44
*/

/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}      

header {
    background: #000;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 15px, 30px;
    background: #000;
}

.logo {
    height: 50px; /* this is used to adjust the logo size*/
    margin-right: 20px;
}

.navbar li {
    margin: 0 15px;
    
}
.navbar a {
    text-decoration: none;
    color: #22238f;
    font-weight: bold;
    font-size: 1.2em;

}
.navbar a:hover {
    color: #ffd700;
}

.section {
    padding: 50px 20px;
    text-align: center;
}

.section:nth-child(even) {
    background: #eaeaea;
}

.image-placeholder {
    width: 300px;
    height: 200px;
    background: #ccc;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 14px;
    border: 1px solid #999;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.card {
    width: 200px;
    height: 300px;
}

.parallax-home{
    /* Set a specific height for a home section */
    height: 1000px;
    /* Set the background image for parallax */
    
    background-image: url('../images/image5.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Center content vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; 
}

.home-content {
    /* Optional: Set a max-width for the content */    
    max-width: 600px;
    padding: 20px;
}

.home-content h1 {
    color: #fff;
    font-size: 3em;
/*    margin-top: -100px;*/
    text-shadow: 10px 5px 10px #000;
}
